%h1.left Listing Channels
= link_to "#{fa_icon('plus', class: 'green')} New Channel".html_safe, express.new_channel_path, :class => "right btn btn-default"

%table.table.table-striped.table-bordered
  %thead
    %tr
      %th Title
      %th Slug
      %th Status
      %th

  %tbody
    - @channels.each do |channel|
      %tr
        %td= link_to channel.title, express.edit_channel_path(channel)
        %td= channel.slug
        %td= channel.status
        %td= link_to fa_icon("times"), express.channel_path(channel), method: :delete, class: "red", data: { confirm: 'Are you sure?'}

