= form_for @entry, :html => {:multipart => true} do |f|
  - if @entry.errors.any?
    #error_explanation
      %h2= "#{pluralize(@entry.errors.count, "error")} prohibited this entry from being saved:"
      %ul
        - @entry.errors.full_messages.each do |message|
          %li= message

  .row
    .col-md-12
      .form-group
        .label-tag Channel
        = f.select :channel_id, options_from_collection_for_select(Channel.all, :id, :title, selected: @entry.channel_id), :class => "form-control"
    .col-md-6
      .form-group
        .label-tag Title
        = f.text_field :title, :class => "form-control"
    .col-md-6
      .form-group
        .label-tag Slug
        = f.text_field :slug, :class => "form-control"
  .row
    .col-md-12
      .form-group
        .label-tag Description
        = f.text_area :description, :class => "form-control"
    .col-md-4
      .form-group
        .label-tag Status
        = f.select :status, options_for_select(statuses, selected: @entry.status), {}, :class => "form-control"
  .row
    .col-md-6
      .form-group
        .label-tag Open
        = f.datetime_select :open, :class => "form-control"
    .col-md-6
      .form-group
        .label-tag Close
        = f.datetime_select :close, :class => "form-control"
  .row
    .col-md-4
      .form-group
        .label-tag Attachment
        = f.file_field :attachment, :class => "form-control"
    .col-md-12
      .entry-img
        = image_tag @entry.attachment.thumb('x200').url if @entry.attachment_stored?
    .col-md-12
      - if @entry.channel.present? && @entry.channel.custom_fields.present?
        .label-tag Custom Fields
        .panel
          - @entry.channel.custom_fields.each do |cf|
            = render 'custom_fields', cf: cf
  .actions
    %hr
    = f.submit 'Save', :class => "btn btn-primary"

