%h1.left
  = @channel.title
  Entries

.right
  = link_to "#{fa_icon('plus', :class => 'green')} New #{@channel.title}".html_safe, express.new_channel_entry_path(@channel), :class => "btn btn-default pad-left"

%table.table.table-striped.table-bordered
  %thead
    %tr
      %th Title
      %th Slug
      %th Status
      %th User
      %th Channel
      %th

  %tbody.list
    = render 'express/entries/index', list: @list

