%h1.left
  = params[:channel].present? ? Channel.find(params[:channel]).title : "All"
  Entries

.right
  = link_to "#{fa_icon('plus', :class => 'green')} New #{channel_name(params[:channel])}".html_safe, express.new_entry_path(channel_id: params[:channel]), :class => "btn btn-default pad-left"

%table.table.table-striped.table-bordered
  %thead
    %tr
      %th Title
      %th Slug
      %th Status
      %th User
      %th Channel
      %th

  %tbody.list
    = render 'index'

