<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="index.html">Express CMS</a>
  </div>

  <ul class="nav navbar-top-links navbar-right">
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
      </a>
      <ul class="dropdown-menu dropdown-user">
        <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
        </li>
        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
        </li>
        <li class="divider"></li>
        <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
        </li>
      </ul>
    </li>
  </ul>

  <div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
      <ul class="nav" id="side-menu">
        <%= form_tag express.search_path, method: "get", remote: true do %>
          <li class="sidebar-search">
            <div class="input-group custom-search-form">
              <%= text_field_tag 'search', nil, class: "form-control", placeholder: 'Search...' %>
              <%= hidden_field_tag 'channel_id', params[:channel] if params[:channel].present? %>
              <%= hidden_field_tag 'resource', params[:controller].gsub("express/", "") %>
              <span class="input-group-btn">
                <button class="btn btn-default" type="submit" name="commit">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
          </li>
        <% end %>
        <li>
          <%= link_to "#{fa_icon('dashboard', :class => "fa-fw")} Dashboard".html_safe, express.entries_path  %>
        </li>
        <li>
          <%= link_to "#{fa_icon('bar-chart-o', :class => "fa-fw")} Entries<span class='fa arrow'></span>".html_safe, express.entries_path %>
          <ul class="nav nav-second-level">
            <%- Channel.order(title: :asc).each do |channel| %>
              <li>
                <%= link_to "#{fa_icon('plus', :class => "fa-fw")} #{channel.title.pluralize}".html_safe, express.entries_path(channel: channel.id) %>
              </li>
            <% end %>
          </ul>
        </li>
        <li>
          <%= link_to "#{fa_icon('filter', :class => "fa-fw")} Channels".html_safe, express.channels_path  %>
        </li>
        <li>
          <%= link_to "#{fa_icon('gear', :class => "fa-fw")} Settings".html_safe, express.settings_path  %>
        </li>
        <li>
          <%= link_to "#{fa_icon('rocket', :class => "fa-fw")} View Site".html_safe, main_app.root_path %>
        </li>
      </ul>
    </div>
  </div>
</nav>

