<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Express</title>
    <%= stylesheet_link_tag    "express/application", media: "all" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="wrapper" class="express">
      <%= render 'layouts/express/nav' %>
      <div id="page-wrapper">
        <div class="row">
          <div class="col-lg-12">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdn.ckeditor.com/4.7.1/standard/ckeditor.js"></script>
    <%= javascript_include_tag "express/application" %>
    <%= render 'layouts/express/bootstrap' %>
    <%= yield :javascripts %>
  </body>
</html>

