<!DOCTYPE html>
<html>
<head>
  <title>Express</title>
  <%= stylesheet_link_tag    "express/application", media: "all" %>
  <%= javascript_include_tag "express/application" %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/express/bootstrap' %>
</head>
<body>
  <div class="container admin">
    <%= render 'layouts/express/admin_nav' %>
    <%= yield %>
  </div>
</body>
</html>

