%h1.left Listing Settings
= link_to 'New Entry', new_admin_setting_path, :class => "right btn btn-default"

%table.table.table-striped.table-bordered
  %thead
    %tr
      %th Name
      %th Slug
      %th Options
      %th

  %tbody
    - @settings.each do |setting|
      %tr
        %td= link_to setting.name, edit_admin_setting_path(setting)
        %td= setting.slug
        %td= setting.options.map{|s| s.values.first }.join(", ")
        %td= link_to fa_icon("times"), admin_setting_path(setting), method: :delete, class: "red", data: { confirm: 'Are you sure?' }

