%p#notice= notice

%p
  %b Name:
  = @setting.name
%p
  %b Slug:
  = @setting.slug
%p
  %b Description:
  = @setting.description

= link_to 'Edit', express.edit_setting_path(@setting)
\|
= link_to 'Back', express.settings_path
